---
import Section from "@/components/Section.astro";
import { work } from "@cv";
---

<Section title="Experience">
  <ul class="text-sm">
    {
      work.map(
        ({ name, position, url, startDate, endDate, summary, highlights }) => (
          <li class="mb-3">
            <div class="flex justify-between items-center">
              {url ? (
                <a
                  href={url}
                  title={`Visit ${name} webpage`}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:underline text-lg font-semibold">
                  <h3>{name}</h3>
                </a>
              ) : (
                <h3>{name}</h3>
              )}
              <p class="text-content/80">
                {startDate} / {endDate ? endDate : "Present"}
              </p>
            </div>
            <p class="text-content/80 pb-2">{position}</p>
            <p>{summary}</p>
            <ul class="list-disc pl-8">
              {highlights.map((highlight) => (
                <li>{highlight}</li>
              ))}
            </ul>
          </li>
        )
      )
    }
  </ul>
</Section>
