---
import { basics } from "@cv";
import Mail from "@/components/icons/Mail.astro";
import GitHub from "@/components/icons/GitHub.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import WorldMap from "@/components/icons/WorldMap.astro";
const { name, profiles, label, email, location } = basics;
const { city, region } = location;
---

<header>
  <h1 class="font-semibold text-3xl print:text-xl">{name}</h1>
  <h2 class="text-content/75 py-1 text-lg">{label}</h2>
  <a
    href={`https://www.google.com.ar/maps/place/${city}+${region}/`}
    title={`Explore ${city}, ${region} on Google Maps`}
    target="_blank"
    rel="noopener noreferrer"
    class="text-sm items-center flex gap-1 text-content/60 [&>svg]:w-4 [&>svg]:stroke-content/50 hover:underline">
    <WorldMap />
    {city}, {region}
  </a>

<ul class="flex gap-2 py-2 text-content/75">
  {email && (
    <li class="hover:bg-content/20 border border-content/50 rounded-md transition print:border-none">
      <a
        href={`mailto:${email}`}
        title={`Send an email to ${name} at ${email}`}
        target="_blank"
        rel="noopener noreferrer"
        class="[&>svg]:w-8 [&>svg]:p-1 print:hidden"
      >
        <Mail />
      </a>
      <span class="hidden print:inline">
        {email}
        {profiles.length > 0 && <span class="print:inline mx-1">•</span>}
      </span>
    </li>
  )}
  {profiles.map(({ network, username, url }, index) => {
    const ProfileIcon = {
      LinkedIn: LinkedIn,
      GitHub: GitHub,
    }[network];
    return (
      <li class="hover:bg-content/20 border border-content/50 rounded-md transition print:border-none">
        <a
          href={url}
          title={`Visit ${network} profile of ${name}`}
          target="_blank"
          rel="noopener noreferrer"
          class="[&>svg]:w-8 [&>svg]:p-1 print:hidden"
        >
          <ProfileIcon />
        </a>
        <span class="hidden print:inline">
          {url}
          {index !== profiles.length - 1 && <span class="print:inline mx-1">•</span>}
        </span>
      </li>
    );
  })}
</ul>
</header>
